
<h2>Github Based Assignment </h2>

<form>
    <input type="text" name="uname" placeholder="Github Username" [(ngModel)]="username">
    <input type="text" name="rname" placeholder="Github Repo Name" [(ngModel)]="repo">
    <input type="submit"  value="Go" (click)="addRepoData()">
</form>
<br><br>
<input type="submit" value="Sort By Name" (click)="sortName()">
<input type="submit" value="Sort By Stars" (click)="sortStars()">
<input type="submit" value="Sort By Forks" (click)="sortForks()">

<br><br><br>
<div  class="card">
  <table style="width:80%" border="5px">
  <tr>
    <th>Repo Name</th>
    <th>Username</th>
    <th>Stars</th>
    <th>Forks</th>
    <th>Language</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let repo of repos">
  <td>{{repo.name}}</td>
    <td>{{repo.owner.login}}</td>
    <td>{{repo.stargazers_count}}</td>
    <td>{{repo.forks_count}}</td>
    <td>{{repo.language}}</td>
    <td>{{repo.description||"Not Available"}}</td>
  </tr>
</table>
</div>
